.logo1{
    width: 9%;
    margin-left: 25%;
}
.logo2{
    width: 12%;
    margin-left: 1%;
}
.logo3{
    width: 18%;
    margin-left: 5%;
    
}
#car1{
    margin-left: 2%;
}
#car2{
    margin-left: 3%;
}
.perfil{
    width: 10%;
}
.usu{
    width: 12%;
}